.missEnter {
    width: 0.5em;
    height: 0.5em;
    margin-left: 5px;
}
.btn {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 2vw;
}

.header, .option {
    margin: 1vw auto;
    background-color: var(--bg-color);
    padding: 1vw;
    opacity: 0.85;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--text-color);
    font-size: 0.5em;
    /* display: none; */
    height: auto;
    width: 50vw;
}

.closeBtn {
    font-size: 0.5em;
    margin: 1vw auto;
}

.back {
    /* display: flex;
    justify-content: center; */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    left: 0;
    top:0;
    z-index: 1;
    background-color: hsla(0, 0%, 21%, 0.76);
}
