.sign {
    display: inline-block;
    color: var(--text-color);
    /* width: 1.5em; */
    height: 1em;
}

.answerInput {
    height: 100%;
    width: 1.2em;
    line-height: inherit;
}

.userAnsweredRight {
    background:  var(--bg-color);
}   