.sign {
    display: inline-block;
    color: var(--text-color);
    /* width: 1.5em; */
    height: 1em;
}

.answerInput {
    /* height: 110%;
    padding-top: 0.15em;
    max-height: 0.9em;
    width: 1.15em; */
    line-height: inherit;
}

.userAnsweredRight {
    background:  var(--bg-color);
}   