.app {
    font-family: 'Theano ModernC';
    color: var(--text-color);
    margin-top: 5px;
    overflow: hidden;
}
.app:focus {
  outline: 0;
}

header input {
  width: 1em;
}

.center {
    text-align: center;
  }
  

@font-face {
    font-family: "Theano ModernC";
    src: url(".././stuff/fonts/13356.ttf");
  }


