.rightExpression {
    width: 100%;
    animation-name: smallBigSmall;
    animation-duration: 1s;
}

@keyframes smallBigSmall {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
        text-shadow: white 0 0 20px;
    }
    100% {
        transform: scale(1);
    }
}