@import-normalize;
:root {
  font-size: 5vw;
  --text-color: hsla(292, 25%, 24%, 0.9);
  /* --text-color:red; */
  --bg-color: hsl(43, 89%, 84%);
}

body {
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
  line-height: normal;
}

header, footer, section {
  padding: 5px;
}

header {
  border-bottom: 1px solid;
  margin-bottom: 1em;
}

footer {
  border-top: 1px solid;
  margin-top: 1em;
  padding-top: 5px;
}

button {
  color: inherit;
}

button, input {
  font-size: inherit;
}

input {
  height: 115%;
  padding-top: 0.15em;
  max-height: 1em;
  width: 1.25em;
  line-height: inherit;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-width: 1px;
}

input:focus {
  /* outline-style: double; */
  outline-color: rgba(255, 144, 41, 0.877);
  outline-offset: 1px;
  caret-color: var(--bg-color);
} 

button {
  margin-bottom: 5px;
  padding: 5px;
  display: block;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */